{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}MesmerEyes - Admin {% endblock title %}

{% block content %}
<div>
    <div class="content-wrapper">
         <!-- Container-fluid starts -->
        <div class="btn-page   ">
            <!-- Container-fluid starts -->
            <div class="container-fluid ">
               <!-- Header start -->
               <div class="row">
                  <div class="main-header">
                     <h4>Manage Categories</h4>
                     <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                           <a href="{% url 'Index_admin' %}">
                              <i class="icofont icofont-home"></i>
                           </a>
                        </li>
                        <li class="breadcrumb-item">
                           <a>Components </a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'Management_category' %}">Manage Categories</a>
                        </li>
                        <br><br>
                     </ol>
                  </div>
                     
               </div>
                <button class="btn btn-danger show-form" data-url="{% url 'Management_addcategory' %}">
                 <span class="icon-plus"></span>
                </button>
               <br><br>
               <div class="card ">
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table" id="cat-table">
                                        <thead>
                                            <tr>
                                                <th>Cat Name</th>
                                                <th>Description</th>  
                                                <th>Update</th>     
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in cat %}
                                                <tr>
                                                    <th scope="row">{{c.Name_cat}}</th>
                                                        <td>{{c.Desc_cat}}</td>
                                                        <td><button class="btn btn-success  show-form-update" data-url="{% url 'Management_updatecategory' cat_id=c.pk %}">
                                                           <span class="icon-pencil"></span>
                                                         </button></td>
                                                         <td><button class="btn btn-warning  show-form-delete" data-url="{% url 'Management_deletecategory' cat_id=c.pk %}">
                                                           <span class="icon-trash"></span>
                                                         </button></td>
                                                        
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    

                                </div>
                            </div>
                </div>
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <br><br><br><br><br><br><br><br><br><br><br><br>
            </div> 
            
        </div>     
        
    </div>
    
</div>
    
</div>
<div class="modal fade" id="modal-cat">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock content %}