{% extends 'store/base.html' %}

{% load static %}

{% block title %}MesmerEyes - Login{% endblock  %}

{% block content %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'LoginReg/css/my-login.css' %}">

<style>
.mystyle{
	box-shadow: 1px 1px 10px 1px #484848;
}
</style>

	<section style="background-color:#f3f2ee !important;" class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div style=" margin-top:60px; width:50%;" class="card-wrapper">
					<div class="card fat mystyle">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation">
								{% csrf_token %}
								<div class="form-group">
									<label >Username</label>
									<input  class="form-control" name="username">
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="#" class="float-right">
											Forgot Password?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group m-0">
									<button style="background-color:black;" type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="{% url 'register' %}">Create One</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	


{% endblock  %}